@font-face {
	font-family: 'Giphurs';
	src: url('/fonts/Giphurs.ttf');
}

:root {
	--primary-color: #1B55EB;
	--secondary-color: #FE8A8A;
	--tertiary-color: #27AE60;
	--quaternary-color: #E7F082;
	--light-color: #E1E1E1;
	--dark-color: #374957;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

#root {
	flex: 1;
	display: flex;
	flex-direction: column;
}

button, input[type="submit"] {
	border: 1px solid var(--primary-color);
	border-radius: 0.75em;
	padding: 0.5em 1em;
	font-family: 'Giphurs';
	color: var(--primary-color);
	background-color: transparent;
	cursor: pointer;
}

button:hover, input[type="submit"]:hover {
	background-color: var(--primary-color);
	color: white;
}

input[type="text"], select {
	border: 1px solid var(--primary-color);
	border-radius: 0.75em;
	padding: 0.5em;
	font-family: 'Giphurs';
	color: var(--primary-color);
	background-color: transparent;
}

select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	padding: 0;
}

select::-ms-expand {
	display: none;
}

select:focus {
	outline: none;
}

select option {
	font-family: 'Giphurs';
	color: var(--primary-color);
	background-color: var(--light-color);
	padding: 0.5em;
	border-radius: 0.5em;
	margin: 0.2em;
}

select option:checked {
	background-color: var(--primary-color);
	color: white;
}

select option:checked:focus {
	background-color: var(--primary-color);
	color: white;
	outline: none;
}
